.layout{

  .layout-main{
    position: absolute;
    left: 150px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f7f8fa;
    padding: 20px 40px 40px;
    transition: all .3s ease;
    overflow-y: scroll;

    .app{
      position: relative;
      height: 100%;

      .content{
        position: absolute;
        width: 100%;
      }
    }
  }
  .downResume{
    position: fixed;
    width: 400px;
    height: 18px;
    line-height: 18px;
    top: -9px;
    right: -200px;
    background: #00aeef;
    text-align: center;
    -webkit-transform: rotateZ(45deg) translate(0, 3em);
    -ms-transform: rotateZ(45deg) translate(0, 3em);
    transform: rotateZ(45deg) translate(0, 3em);
    z-index: 9999;

    a{
      color: #fff;
      font-size: 1em;
      -webkit-text-shadow: 5px 5px 10px #000;
      text-shadow: 5px 5px 10px #000;
    }
    &:hover a{
      transform: rotateZ(-45deg);
      color: #000;
      -webkit-text-shadow: 5px 5px 10px #00aeef;
      text-shadow: 5px 5px 10px #00aeef;
    }
  }
}




.layout.layout-collapse .layout-main{
  left: 64px;
}

.layout-main{
  .transitionWrapper-enter{
    opacity: 0.01;
    transition: all 1000ms ease;
    -webkit-transform: translate3d(100%, 0, -20px);
    -ms-transform: translate3d(100%, 0, -20px);
    transform: translate3d(100%, 0, -20px);
  }
  .transitionWrapper-leave.transitionWrapper-leave-active{
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, -20px);
    -ms-transform: translate3d(-100%, 0, -20px);
    transform: translate3d(-100%, 0, -20px);
  }
  &.back{
    .transitionWrapper-enter{
      opacity: 0.01;
      transition: all 1000ms ease;
      transform: translate3d(-100%, 0, -20px);
      -ms-transform: translate3d(-100%, 0, -20px);
      transform: translate3d(-100%, 0, -20px);
    }
    .transitionWrapper-leave.transitionWrapper-leave-active{
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, -20px);
      -ms-transform: translate3d(100%, 0, -20px);
      transform: translate3d(100%, 0, -20px);
    }
  }
}

.layout-main      .transitionWrapper-enter.transitionWrapper-enter-active,
.layout-main.back .transitionWrapper-enter.transitionWrapper-enter-active{
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.layout-main      .transitionWrapper-leave,
.layout-main.back .transitionWrapper-leave{
  opacity: 1;
  transition: all 1000ms ease;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


@media (min-width: 370px) {

}
@media (min-width: 540px) {
  .layout{
    .downResume{
      height: 30px;
      line-height: 30px;
      top: -15px;
      -webkit-transform: rotateZ(45deg) translate(0, 70px);
      -ms-transform: rotateZ(45deg) translate(0, 70px);
      transform: rotateZ(45deg) translate(0, 70px);

      a{
        font-weight: 500;
        font-size: 20px;
      }
      &:hover a{
        transform: rotateZ(-45deg);
        color: #000;
        -webkit-text-shadow: 5px 5px 10px #00aeef;
        text-shadow: 5px 5px 10px #00aeef;
      }
    }
  }
}
